<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro">

  <xacro:macro name="simulation_ros2_control" params="name">

    <ros2_control name="${name}" type="system">
      <hardware>
          <plugin>gz_ros2_control/GazeboSimSystem</plugin>
      </hardware>

      <joint name="joint_1">
        <command_interface name="position">
          <!-- -pi | pi -->
          <param name="min">-3.141592</param>
          <param name="max">3.141592</param>
        </command_interface>
        <command_interface name="velocity">
          <param name="min">-2.5</param>
          <param name="max">2.5</param>
        </command_interface>
        <state_interface name="position">
          <param name="initial_value">0.0</param>
        </state_interface>
        <state_interface name="velocity"/>
      </joint>

      <joint name="joint_2">
        <command_interface name="position">
          <!-- -pi/2 | pi/2 -->
          <param name="min">-1.570796</param>
          <param name="max">1.570796</param>
        </command_interface>
        <command_interface name="velocity">
          <param name="min">-2.5</param>
          <param name="max">2.5</param>
        </command_interface>
        <state_interface name="position">
          <param name="initial_value">0.0</param>
        </state_interface>
        <state_interface name="velocity"/>
      </joint>

      <joint name="joint_3">
        <command_interface name="position">
            <!-- -3pi/2 | pi/2 -->
          <param name="min">-4.712388</param>
          <param name="max">1.570796</param>
        </command_interface>
        <command_interface name="velocity">
          <param name="min">-2.5</param>
          <param name="max">2.5</param>
        </command_interface>
        <state_interface name="position">
          <param name="initial_value">0.0</param>
        </state_interface>
        <state_interface name="velocity"/>
      </joint>

      <joint name="joint_4">
        <command_interface name="position">
          <!-- -pi | pi -->
          <param name="min">-3.141592</param>
          <param name="max">3.141592</param>
        </command_interface>
        <command_interface name="velocity">
          <param name="min">-2.5</param>
          <param name="max">2.5</param>
        </command_interface>
        <state_interface name="position">
          <param name="initial_value">0.0</param>
        </state_interface>
        <state_interface name="velocity"/>
      </joint>

      <joint name="joint_5">
        <command_interface name="position">
          <!-- -pi | pi -->
          <param name="min">-3.141592</param>
          <param name="max">3.141592</param>
        </command_interface>
        <command_interface name="velocity">
          <param name="min">-2.5</param>
          <param name="max">2.5</param>
        </command_interface>
        <state_interface name="position">
          <param name="initial_value">0.0</param>
        </state_interface>
        <state_interface name="velocity"/>
      </joint>

      <joint name="joint_6">
        <command_interface name="position">
          <!-- -pi | pi -->
          <param name="min">-3.141592</param>
          <param name="max">3.141592</param>
        </command_interface>
        <command_interface name="velocity">
          <param name="min">-2.5</param>
          <param name="max">2.5</param>
        </command_interface>
        <state_interface name="position">
          <param name="initial_value">0.0</param>
        </state_interface>
        <state_interface name="velocity"/>
      </joint>

<joint name="right_finger_joint">
        <command_interface name="position"/>
        <state_interface name="position"/>
        <state_interface name="velocity"/>
        <state_interface name="effort"/>
      </joint>
      
      <joint name="right_external_rod_joint">
        <param name="mimic">right_finger_joint</param>
        <param name="multiplier">-1</param>
        <state_interface name="position"/>
        <state_interface name="velocity"/>
        <state_interface name="effort"/>
      </joint>

      <joint name="right_fingertip_joint">
        <param name="mimic">right_finger_joint</param>
        <param name="multiplier">-1</param>
        <state_interface name="position"/>
        <state_interface name="velocity"/>
        <state_interface name="effort"/>
      </joint>

      <joint name="left_finger_joint">
        <param name="mimic">right_finger_joint</param>
        <param name="multiplier">-1</param>
        <state_interface name="position"/>
        <state_interface name="velocity"/>
        <state_interface name="effort"/>
      </joint>

      <joint name="left_external_rod_joint">
        <param name="mimic">right_finger_joint</param>
        <param name="multiplier">-1</param>
        <state_interface name="position"/>
        <state_interface name="velocity"/>
        <state_interface name="effort"/>
      </joint>

      <joint name="left_fingertip_joint">
        <param name="mimic">right_finger_joint</param>
        <param name="multiplier">-1</param>
        <state_interface name="position"/>
        <state_interface name="velocity"/>
        <state_interface name="effort"/>
      </joint>

      <joint name="left_wheel_joint">
        <command_interface name="velocity">
          <param name="min">-1</param>
          <param name="max">1</param>
        </command_interface>
        <state_interface name="position"/>
        <state_interface name="velocity"/>
        <state_interface name="effort"/>
      </joint>
      
      <joint name="right_wheel_joint">
        <command_interface name="velocity">
          <param name="min">-1</param>
          <param name="max">1</param>
        </command_interface>
        <state_interface name="position"/>
        <state_interface name="velocity"/>
        <state_interface name="effort"/>
      </joint>

      <joint name="left_right_head_joint">
        <command_interface name="position">
            <!-- -60*pi/180 | 60*pi/180 -->
          <param name="min">-1.047197</param>
          <param name="max">1.047197</param>
        </command_interface>
        <state_interface name="position"/>
        <state_interface name="velocity"/>
      </joint>
      
      <joint name="up_down_head_joint">
        <command_interface name="position">
          <!-- -70*pi/180 | 40*pi/180 -->
          <param name="min">-1.221730</param>
          <param name="max">0.6981317</param>
        </command_interface>
        <state_interface name="position"/>
        <state_interface name="velocity"/>
      </joint>

    </ros2_control>

  </xacro:macro>

</robot>
